*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;


}

body{
    background-color: hsl(148, 38%, 91%);
}
form{
    background-color: white;
    width: 40vw;
    height: 50vh;
    border-radius: 1em;
    padding: 1.5em;
    
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10em;
}
.campoNome{
    display: flex;
}
h1{
    margin: 1em;
}





